<ion-view view-title="Accueil">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Dernières nouvelles</div>
      <div class="item item-body">
        <div>
          Il y a <b>3</b> nouvelles stories !
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Santé</div>
      <div class="item item-body">
        <div>
          Vous avez eu de l'activité sexuelle ! :P
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">A venir</div>
      <div class="item item-body">
        <div>
          Bientôt une nouvelle catégorie ! Venez voter sur notre site.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
