<ion-view view-title="Accueil">
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" href="#/tab/dash/news">
        News
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <ion-scroll zooming="false" direction="y" style="height: 88vh">
      <div class="list card" ng-repeat="story in stories | orderBy: '-date'">
        <div class="item item-divider">{{story.name}}</div>
        <div class="item item-body">
          <div>
            {{story.content}}
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
